

@media screen and (min-width: 360px) {
    html {
        font-size: 300%;
    }
}


@media screen and (min-width: 480px) {
    html {
        font-size: 400%;
    }
}



@media screen and (min-width: 750px) {
    html {
        font-size: 625%;
    }
}

